<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Restventures</title>
</head>
<body>
	<div>
		<p id="text"></p>
	</div>
	<ul id="actions"></ul>
</body>

<script>
	const updateDom = res => {
		document.querySelector('#text').innerHTML = res.text
		document.querySelector('#actions').innerHTML = res._links.map(({ href, ref, method }) =>
				`<li><a href="#" onclick="fetchJsonFromClick(event, '${href}', '${method}')">${method} ${href}</a> [${ref}]</li>`).join('')
	}

	const fetchJsonFromClick = (event, path, method) => {
		event.preventDefault()
		return fetchJson(path, method)
	}

	const fetchJson = (path, method='GET') => fetch(path, { method })
		.then(res => res.json())
		.then(updateDom)

	document.body.onload = () => fetchJson('/road')
</script>
</html>